<form class="form-container" [formGroup]="transactionForm">
  <div class="row">

    <div class="col-md-6 top-padding">
      <mat-form-field class="full-width">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" [value]="transaction.id" readonly>
      </mat-form-field>
    </div>

    <div class="col-md-6 top-padding">
      <mat-form-field class="full-width">
        <mat-label>Date</mat-label>
        <input matInput [value]="transaction.date | date: 'dd/MM/yyyy'" formControlName="date">
      </mat-form-field>
    </div>

    <div class="col-md-6 top-padding">
      <mat-form-field class="full-width">
        <mat-label>Comments </mat-label>
        <textarea matInput [value]="transaction.Comments" #comments formControlName="comments"
          (change)="commentsChange(comments.value)"></textarea>
          <mat-error *ngIf="comments.oninvalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  </div>
</form>

<div class="button-container">
  <a mat-raised-button [routerLink]="['/']">Back To List</a>
</div>
